@font-face {
  font-family: 'smufl';
  src: url('fonts/BravuraText.woff2') format('woff2'),
       url('fonts/BravuraText.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.smufl {
  font: 40px smufl, sans-serif;
}
